body {
    background-image: url(IMG_Background.jpeg);
}

h2{
    padding-top: 20px;
    color: white;
}

img.c {
    vertical-align: text-bottom;
  }

  p{
                color: rgb(0, 0, 0);
                font-size: 40px;
    margin-left: 60px;
    margin-right: 60px;
  }