 body {
    margin: 0;
    padding: 0;
    background-color: rgb(234, 192, 199);
    }
      
 .video-container {
    width:100%;
    height:100%;
    position: relative;
    object-fit:cover
    margin: 0 auto;
 }
    
.video-container video {
    width: 100%;
    height: 100;
}

video::-webkit-media-controls {
    display: none !important;
}

.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none; 
}
    
.video-overlay img {
    width: 100%;
    height: 100%;
    opacity: 100%;
}
    
.overlay-text{
    position: absolute;
    text-align: center;
    line-height: 1;
    font-size: 60px;
    color: rgb(0, 0, 0);
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
    
.overlay-text2{
    position: absolute;
    top: 57%; 
    left: 46%; 
    text-align: center;
    line-height: 1;
    font-size: 60px;
    color: rgb(0, 0, 0);
    font-family: 'Apple Garamond';
    font-weight: 400;
    font-style: italic;
}

.text-section2 {
    background-color:rgb(234, 192, 199); /* Set your desired background color */
    text-align: center;
    margin-top: 20px;
    color:rgb(224, 113, 133);
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.text-section3 {
    background-color:rgb(234, 192, 199); 
    padding: 20px;
    text-align: center;
    margin-bottom: 60px;
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color:rgb(224, 113, 133);
    font-size: 30px;
    text-align: center;
}

a {
    color: rgb(224, 113, 133); 
    text-decoration: 
}

a.social:hover{
    font-family: 'Apple Garamond';
    font-style: italic;
    color:rgb(224, 113, 133);
    font-size: 30px;
}

  a.social:visited {
    color: rgb(224, 113, 133);
    background-color: transparent;
    text-decoration: none;
}

.text-section {
    background-color:rgb(234, 192, 199); 
    margin-left: 30vh;
    margin-right: 30vh;
    text-align: relative;
    margin-bottom: 80px;
    margin-top: 20px;
    color:rgb(224, 113, 133);
    font-family:Garamond, Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    font-style: italic;
}

.image-gallery {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    gap: 20px;             
    margin: 20px auto;
    max-width: 800px;
}
    
.image-gallery img {
    max-width: 100%;
    height: auto;
    border: 5px solid rgb(224, 113, 133);
    border-radius: 5px;
}
    
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 400;
    font-style: normal;
    border: none;
    outline: none;
    background-color: rgb(224, 113, 133);
    color: rgb(247, 242, 235);
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}
        
#myBtn:hover {
    background-color: rgb(224, 113, 133);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
    position: -webkit-sticky; /* Safari */
    position: sticky;top: 0;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  li a:hover:not(.active) {
    background-color: #45454b;
  }
  
  .active {
    background-color:rgb(224, 113, 133);
  }

  :root {
    --main-bg-color: #d6b9a4;
    --cup-color: #474747;
    --cup-width: 30vw;
    --cup-height: 24vw;
    --cup-handle-width: 5vw;
    --cup-handle-height: calc(2 * var(--cup-handle-width));
    --cup-border-width: 2vw;
    --cup-inside-width: calc(var(--cup-width) - var(--cup-border-width));
    --cup-inside-height: calc(var(--cup-height) - var(--cup-border-width));
    --border-width: 1vw;
    --main-border: var(--border-width) solid var(--cup-color);
    --plate-width: 25vw;
    --plate-height: 2vw;
    --coffee-bottom: 80%;
    --water-bottom: 0;
    --milk-bottom: 0;
    --liquor-bottom: 0;
    --whipped_cream-bottom: 0;
    --steamed_milk-bottom: 0;
    --milk_foam-bottom: 0;
    --chocolate-bottom: 0;
    --coffee-color: #3c302f;
    --water-color: #b1dce2;
    --milk-color: #f0ebe5;
    --liquor-color: #fc8626;
    --whipped_cream-color: #fceecb;
    --milk_foam-color: #fceecb;
    --steamed_milk-color: #ffd7b3;
    --chocolate-color: #391e09;
  }
  
  body {
    height: 100vh;
    width: 100vw;
    background: var(--main-bg-color);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    overflow: hidden;
  }
  
  .social {
    position: absolute;
    top: 10px;
    left: 10px;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70vw;
  }
  
  .coffee_name {
    color: #f1faee;
    text-align: center;
    /*   width: 100%; */
    font-size: 4vw;
  }
  
  .options {
    display: grid;
    grid-gap: 1vh;
    grid-template-rows: repeat(10, 35px);
    grid-template-columns: 120px;
    justify-content: space-evenly;
    box-sizing: border-box;
  }
  
  .options button {
    user-select: none;
    background: rgba(214, 217, 227, 0.6);
    outline: none;
    font-size: 1rem;
    border: 2px solid #a67a60;
    box-shadow: none;
    color: #363636;
    box-sizing: border-box;
    border-radius: 1vh;
  }
  
  .options button:hover {
    cursor: pointer;
    border-width: 4px;
    background: rgba(255, 255, 255, 0.6);
  }
  .options .selected {
    border-width: 4px;
    background: rgba(255, 255, 255, 0.8);
    box-sizing: border-box;
  }
  
  .cup {
    width: var(--cup-width);
    height: var(--cup-height);
    border-radius: 0 0 10vw 10vw;
    position: relative;
    background-color: var(--cup-color);
    z-index: 10;
    box-sizing: border-box;
  }
  
  .cup::after {
    content: "";
    position: absolute;
    top: 10%;
    left: calc(100% - 1vw);
    width: var(--cup-handle-width);
    height: var(--cup-handle-height);
    border: var(--main-border);
    border-radius: 50% 30%;
  }
  
  .plate {
    position: absolute;
    top: calc(100% + 1vw);
    left: calc((var(--cup-width) - var(--plate-width)) / 2);
    width: var(--plate-width);
    background: var(--cup-color);
    height: var(--plate-height);
    border-radius: 1vw;
  }
  
  .filling {
    position: absolute;
    left: calc(var(--cup-border-width) / 2);
    bottom: calc(var(--cup-border-width) / 2);
    width: var(--cup-inside-width);
    height: var(--cup-inside-height);
    overflow: hidden;
    border-radius: 0 0 10vw 10vw;
    background-color: var(--main-bg-color);
    bottom: 1vw;
  }
  
  .filling div {
    position: absolute;
    width: 100%;
    transition: all 1s linear;
    color: #817f75;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 0;
    overflow: hidden;
    font-size: 3vw;
    height: 100%;
    bottom: -100%;
    box-sizing: border-box;
  }
  
  .filling.reset.americano {
    --water-bottom: 0;
    --coffee-bottom: -60%;
  }
  .filling.reset.au_lait {
    --coffee-bottom: -50%;
    --milk-bottom: 0%;
  }
  .filling.reset.capuccino {
    --coffee-bottom: -65%;
    --steamed_milk-bottom: -35%;
    --milk_foam-bottom: 0;
  }
  .filling.reset.espresso {
    --coffee-bottom: -60%;
  }
  .filling.reset.latte {
    --coffee-bottom: -60%;
    --steamed_milk-bottom: -20%;
    --milk_foam-bottom: 0%;
  }
  .filling.reset.corretto {
    --coffee-bottom: -45%;
    --liquor-bottom: -25%;
  }
  .filling.reset.lungo {
    --water-bottom: 0;
    --coffee-bottom: -50%;
  }
  .filling.reset.macchiato {
    --coffee-bottom: -70%;
    --milk_foam-bottom: 0;
  }
  .filling.reset.mocha {
    --coffee-bottom: -60%;
    --chocolate-bottom: -40%;
    --steamed_milk-bottom: -20%;
    --whipped_cream-bottom: 0%;
  }
  .filling.reset.ristretto {
    --coffee-bottom: -80%;
  }
  
  div.chocolate {
    background: var(--chocolate-color);
    bottom: var(--chocolate-bottom);
    z-index: 6;
  }
  div.coffee {
    background: var(--coffee-color);
    bottom: var(--coffee-bottom);
    line-height: 4vw;
    z-index: 7;
  }
  div.liquor {
    background: var(--liquor-color);
    bottom: var(--liquor-bottom);
    z-index: 4;
  }
  div.milk {
    background: var(--milk-color);
    bottom: var(--milk-bottom);
    z-index: 2;
  }
  div.milk_foam {
    background: var(--milk_foam-color);
    bottom: var(--milk_foam-bottom);
    z-index: 5;
  }
  
  div.steamed_milk {
    background: var(--steamed_milk-color);
    bottom: var(--steamed_milk-bottom);
    z-index: 6;
  }
  div.water {
    background: var(--water-color);
    bottom: var(--water-bottom);
  }
  div.whipped_cream {
    background: var(--whipped_cream-color);
    bottom: var(--whipped_cream-bottom);
    z-index: 4;
  }
  
  .filling.reset {
    --coffee-bottom: -100%;
    --water-bottom: -100%;
    --milk-bottom: -100%;
    --liquor-bottom: -100%;
    --whipped_cream-bottom: -100%;
    --steamed_milk-bottom: -100%;
    --milk_foam-bottom: -100%;
    --chocolate-bottom: -100%;
  }
  